
@{
    ViewBag.Title = "StoryPage";
}

<div class=" col-lg-1">
    <div class="center-block"></div>
    <h2 class="text-center">StoryPage</h2>
</div>

<div class="btn-group">
    <button type="button" class=" btn-primary dropdown-toggle" data-toggle="dropdown">
        Фильтр<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div>
</div>




